/* SUBHEADER - START */

.subheader {
  padding: 10px 20px;
  background-color: rgb(128, 128, 128, 0.237);
  margin-bottom: 20px;
}

.subheader-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.subheader-item:nth-child(1) a {
  color: black;
}

.subheader-item:nth-child(1) span {
  color: #989898;
}

.subheader-item:nth-child(1) p {
  display: flex;
  align-items: center;
}

.subheader-item:nth-child(3) {
  color: gray !important;
}

.subheader-item:nth-child(4) {
  color: blueviolet;
}

.subheader-item:nth-child(7) p,
.subheader-item:nth-child(8) p {
  display: flex;
  align-items: center;
}

.subheader-item:nth-child(7) select {
  border: none;
  background-color: rgba(215, 215, 215, 0.237);
  outline: none;
}

.subheader-item:nth-child(8) select {
  border: none;
  background-color: rgba(215, 215, 215, 0.237);
  outline: none;
}

.subheader-item P {
  cursor: pointer;
}

/* SUBHEADER - END */
/* NAVBAR - START */

.navbar {
  display: flex;
  align-items: center;
}

.navbar-logo-img {
  display: flex;
  width: 230px;
  margin-right: 40px;
}

.navbar-logo-collection-wrapper {
  display: flex;
}

.navbar-menu-btn {
  height: 40px;
  border-radius: 4px;
  padding: 0 25px;
  border: none;
  display: flex;
  align-items: center;
  background-color: #f0f0ff;
  color: #7000ff;
  margin-right: 8px;
}

.navbar-menu-btn:active {
  background-color: #7000ff;
  color: #f0f0ff;
  transition: 0.2s;
}

.navbar-menu-btn svg {
  font-size: 20px;
}

.navbar-search {
  border: 1px solid gray;
  display: flex;
  flex: 1;
  height: 40px;
  border-radius: 4px;
  margin-right: 20px;
}

.navbar-search input {
  border: none;
  flex: 1;
  text-indent: 12px;
  outline: none;
  border-radius: 4px;
  width: 100%;
}

.navbar-search button {
  background-color: #f2f4f7;
  width: 60px;
  color: #595b66;
  border: none;
  border-radius: 0 4px 4px 0;
}

.navbar-collection {
  display: flex;
  gap: 20px;
}

.navbar-collection-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navbar-collection-item svg {
  font-size: 20px;
}

.navbar-collection-item-home .Link,
.navbar-collection-item .Link {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-collection-item-home {
  display: none;
}

/* NAVBAR - END */
/* NAVBARBOTTOM- START */

.navbar-bottom {
  display: flex;
  gap: 30px;
  overflow: auto;
  padding-top: 20px;
}

.navbar-bottom p {
  white-space: nowrap;
  font-size: 14px;
}

/* NAVBARBOTTOM - END */

/* MEDIA - START */

@media only screen and (max-width: 1000px) {
  .navbar-bottom::-webkit-scrollbar {
    height: 8px;
  }

  .navbar-bottom::-webkit-scrollbar-thumb {
    background-color: #7000ff;
    border-radius: 20px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-slider-thumb {
    background-color: #f0f0ff;
    border-radius: 20px;
  }

  .subheader {
    display: none;
  }

  .navbar {
    padding-top: 20px;
  }

  .navbar-search {
    width: 100%;
    margin-right: 0;
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
  }

  .navbar-collection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 111;
    /* box-shadow: #fff; */
    box-shadow: 0 -4px 10px #0009;
    background-color: white;
    /* border: 2px solid black; */
  }

  .navbar-collection-item-home {
    display: flex;
  }

  .navbar-collection-item-home span,
  .navbar-collection-item-home svg {
    color: #000;
  }

  .navbar-collection-item-home .Link,
  .navbar-collection-item .Link {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.navbar-collection-item-home span,
.navbar-collection-item span {
  font-size: 12px;
}

@media only screen and (max-width: 660px) {
  .navbar-menu-btn {
    margin-right: 0;
  }

  .navbar-search {
    margin-top: 10px;
  }

  .navbar {
    display: flex;
    margin-right: auto;
  }

  .navbar-logo-collection-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar-logo-img {
    margin-right: 5px;
  }
}

/* MEDIA - END */
